/*****************************mobile style.css***********************************/
@media screen and (max-width: 1100px) {
  /***********************oque fazemos*********************************/
  .container-oque-fazemos {
    margin: auto;
    display: inline-block;
  }

  .desc-oque-fazemos {
    width: 100%;
  }

  /**********************quero doar**********************************/

  .container-doar {
    display: inline-block;
  }

  .title-desc-doar {
    width: 100%;
  }
  /***********************fundadora****************************/
  .fundadora {
    display: inline-block;
  }
  .desc-fundadora {
    margin-bottom: 20px;
  }

  .carrossel-fundadora {
    margin: auto;
  }

  /****************adotar animal*******************************/

  .card-adotar {
    margin: 0;
  }

  .cards-animais {
    width: 70%;
  }

  .container-animais {
    column-count: 4;
  }
}

@media screen and (max-width: 1000px) {
  .container-menu {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.727);
  }
  nav {
    position: fixed;
    top: 74px;
    left: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.727);
    text-align: center;
    padding-top: 50px;
  }

  nav a {
    font-size: 14pt;
    color: black;
    padding: 10px 0px;
  }

  .btn-menu-mobile {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  /****************************header*******************/
  .header-description {
    margin: auto;
    padding-left: 0px;
    padding: 0px 20px;
  }

  .container-desc-header {
    margin: auto;
    width: 100%;
  }

  /**********************sobre nos************************************/
  .sobre-nos {
    padding: 20px;
  }

  /***********************oque fazemos*********************************/
  .oque-fazemos {
    padding: 20px;
  }

  .img-oque-fazemos {
    width: 280px;
    padding: 20px;
    margin: auto;
  }

  /**********************quero doar**********************************/
  .quero-doar {
    padding: 20px;
  }

  .pix-doar {
    width: 325px;
  }

  .confirm-copy {
    font-size: 9pt;
    padding: 3px;
  }

  /***********************fundadora****************************/
  .fundadora {
    padding: 20px;
  }

  .desc-fundadora {
    margin: auto;
    margin-bottom: 20px;
  }

  /****************adotar animal*******************************/
  .adotar-animal {
    padding: 20px;
  }

  .container-adotar {
    margin: auto;
    display: inline-block;
  }

  .title-desc-adotar {
    text-align: center;
  }

  .card-adotar {
    margin: auto;
    margin-bottom: 20px;
  }

  .cards-animais {
    margin: auto;
    text-align: center;

    width: 100%;
  }

  .cards-animais img {
    margin-left: 0;
    margin: 10px;
  }

  /**************animais***********************/
  .animais {
    padding: 0px 20px;
  }
  .container-animais {
    column-count: 3;
  }

  /**************************footer**************************/

  .container-pix-footer {
    display: inline-block;
    text-align: left;
  }

  .redes-footer {
    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  /****************************header*******************/
  header {
    align-items: flex-end;
    background-image: url("../img/img-header-mobile.png");
  }

  #buttons-header {
    width: 130px;
  }

  .button-adotar {
    background-color: white;
  }

  .header-description {
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  .container-desc-header {
    gap: 5px;
    margin-bottom: 0px;
  }

  .title-main {
    letter-spacing: 1px;
    font-size: 15pt;
  }

  .section-buttons-header {
    gap: 20px;
    width: 100%;
  }

  .section-redes-header {
    width: 100%;
  }

  /*******************quero-doar**********************/

  .img-doar {
    margin: auto;
    background-image: url("../img/img-doacao-mobile.png");
    width: 320px;
    height: 320px;
  }

  /**********************fundadora******************/
  .container-carrossel {
    width: 80%;
    height: 400px;
  }

  /****************adotar animal*******************************/

  .card-adotar {
    width: 320px;
  }

  .cards-animais img {
    width: 150px;
    margin: 3px;
  }

  /**************animais***********************/

  .container-animais {
    column-count: 2;
  }
}
