/* style gerais */
.titulo-secao {
  width: 270px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
}
/*section sobre nós*/

.sobre-nos {
  text-align: center;
}

.logo-sobre-nos {
  width: 80px;
  height: 80px;
  padding: 5px;
  margin: auto;
  background-color: #d9e5e6;
  border-radius: 50%;
  transform: translateY(38px);
  box-shadow: 0px 3px 5px #33333380;
}

.logo-sobre-nos img {
  width: 70px;
  height: 70px;
}

.titulo-sobre-nos {
  margin-left: 20px;
  background-image: url("../img/img-titulos/titulo-sobreNos.png");
  background-size: cover;
}

.container-sobre-nos {
  background-color: #ff3d81;
  padding: 40px;
}

.sectionAssunto {
  text-align: left;
  background-color: #ff71a3;
  margin-top: 30px;
  padding: 0px 10px;
  height: 45px;
  overflow: hidden;
  box-shadow: 0px 5px 10px #bf2d6065;
  transition: all 0.5s;
}

.sectionTitulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.expandir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 18pt;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.descricao {
  padding: 20px;
  border-top: 1px solid #ff3d81;
}

/* section oque fazemos*/

.oque-fazemos {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  background-image: url("../img/img-oqueFazemos.png");
  background-size: cover;
}

.container-oque-fazemos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
}

.img-oque-fazemos {
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3d81;
  padding: 30px;
  border-radius: 5px;
  background-image: url("../img/fundo-card-oque-fazemos.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-oque-fazemos {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #d9e5e6;
  box-shadow: 0px 5px 10px black;
}

.card-oque-fazemos img {
  width: 100%;
  height: 390px;
}

.section-oque-fazemos {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
}

.logo-oque-fazemos {
  width: 35px;
  height: 35px;
  padding: 3px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #65669b;
}

.section-oque-fazemos a {
  font-size: 10pt;
  color: black;
}

.logo-oque-fazemos img {
  width: 30px;
  height: 30px;
}

.desc-oque-fazemos {
  width: 50%;
  height: 100%;
  border-bottom: 1px solid #ff3d81;
}

.desc-oque-fazemos h2 {
  padding: 5px 10px;
  border-bottom: 1px solid #ff3d81;
  width: 200px;
  margin: 20px 0px;
}

.desc-oque-fazemos h4 {
  margin: 20px 0px;
}

.desc-oque-fazemos p {
  line-height: 25px;
}

/* quero-doar */

.quero-doar {
  padding: 50px 30px;
  background-color: #ff3d81;
}

.titulo-quero-doar {
  margin: auto;
  margin-bottom: 40px;
  background-image: url("../img/img-titulos/titulo-doar.png");
}

.container-doar {
  margin: auto;
  width: 90%;
  height: 80%;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}

.sections-doar {
  width: 100%;
  height: 100%;
}

.desc-doar {
  line-height: 35px;
}

.title-desc-doar {
  font-size: 25pt;
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.title-desc-doar span {
  font-family: "Anton", sans-serif;
  color: white;
}

.qrcode {
  width: 200px;
  height: 200px;
}

.pix-doar {
  background-color: #ff71a3;
  width: 350px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.confirm-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  height: 100%;
  padding: 0px 5px;
  transition: all 0.5s;
}

.bi-check-circle-fill {
  color: green;
  width: 5px;
  height: 5px;
  display: flex;
  align-items: center;
}

.pix-doar input {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.button-copy {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 16pt;
  cursor: pointer;
}

.quem-vai-receber {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receptor {
  margin: auto;
  text-align: left;
  width: 60%;
  background-color: #ff71a3;
  line-height: 25px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.receptor i {
  font-size: 18pt;
  letter-spacing: 5px;
}
