/* style gerais */
.titulo-secao {
  width: 270px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
}
/*section sobre nós*/
.sobre-nos {
  margin: auto;
  text-align: center;
  background-color: #d2d3f4;
  padding: 50px;
  border-bottom: 3px dashed #65669b;
}

.titulo-sobre-nos {
  margin: auto;
  text-align: center;
  background-image: url("../img/img-titulos/titulo-sobreNos.png");
  background-size: cover;
}

.container-sobre-nos {
  padding: 30px 0px;
}

.sectionAssunto {
  text-align: left;
  background-color: #d2d3f4;
  margin-top: 30px;
  padding: 0px 10px;
  height: 45px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.205);
  transition: all 0.5s;
  border-left: 5px solid #ff3d81;
}

.sectionTitulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.expandir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 18pt;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  color: #ff3d81;
}

.descricao {
  padding: 20px;
  border-top: 1px solid #ff3d81;
}

/* section oque fazemos*/
.oque-fazemos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-image: url("../img/img-oqueFazemos.png");
  background-size: cover;
}

.container-oque-fazemos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.img-oque-fazemos {
  margin: auto;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff3d81;
  padding: 30px;
  border-radius: 5px;
  background-image: url("../img/fundo-card-oque-fazemos.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-oque-fazemos {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #d9e5e6;
  box-shadow: 0px 5px 10px black;
}

.card-oque-fazemos img {
  width: 100%;
  height: 390px;
}

.section-oque-fazemos {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
}

.logo-oque-fazemos {
  width: 35px;
  height: 35px;
  padding: 3px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #65669b;
}

.section-oque-fazemos a {
  font-size: 10pt;
  color: black;
}

.logo-oque-fazemos img {
  width: 30px;
  height: 30px;
}

.desc-oque-fazemos {
  margin: auto;
  width: 50%;
  border-bottom: 1px solid #ff3d81;
}

.desc-oque-fazemos h2 {
  padding: 5px 10px;
  border-bottom: 1px solid #ff3d81;
  width: 200px;
  margin: 20px 0px;
}

.desc-oque-fazemos h4 {
  margin: 20px 0px;
}

.desc-oque-fazemos p {
  line-height: 25px;
}

/* quero-doar */
.quero-doar {
  border-bottom: 3px dashed #65669b;
  padding: 50px;
  background-color: #d2d3f4;
}

.titulo-quero-doar {
  margin: auto;
  margin-bottom: 40px;
  background-image: url("../img/img-titulos/titulo-doar.png");
}

.container-doar {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-doar {
  width: 100%;
  height: 100%;
}

.desc-doar {
  width: 100%;
  height: 100%;
  line-height: 35px;
  border-bottom: 1px solid #ff3d81;
}

.title-desc-doar {
  width: 70%;
  font-size: 22pt;
  font-family: "Anton", sans-serif;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #65669b;
  border-bottom: 1px solid #ff3d81;
  padding-bottom: 5px;
}

.title-desc-doar span {
  font-family: "Anton", sans-serif;
  color: black;
}

.qrcode {
  width: 200px;
  height: 200px;
}

.pix-doar {
  background-color: white;
  width: 350px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.confirm-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ff3d81;
  height: 100%;
  padding: 0px 3px;
  transition: all 0.5s;
}

.bi-check-circle-fill {
  color: green;
  width: 5px;
  height: 5px;
  display: flex;
  align-items: center;
}

.pix-doar input {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.copy-doar {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 16pt;
  cursor: pointer;
}

.img-doar {
  width: 100%;
  height: 450px;
  background-image: url("../img/img-doacao.png");
  background-size: cover;
  background-position: 50% 50%;
}

/*fundadora*/
.fundadora {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
  background-image: url("../img/fundo-fundadora.png");
  background-size: cover;
}

.desc-fundadora {
  margin: auto;
  width: 100%;
  line-height: 20px;
  border-bottom: 1px solid #ff3d81;
 
}

.desc-fundadora h2 {
  width: 200px;
  border-bottom: 1px solid #ff3d81;
  padding: 5px;
  margin-bottom: 20px;
}

.desc-fundadora p {
  margin: 20px 0px;
}

.carrossel-fundadora {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carrossel-fundadora button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: #ff3d81b7;
  font-size: 16pt;
}

.btn-esquerda {
  transform: translateX(30.2px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-direita {
  transform: translateX(-30.2px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container-carrossel {
  display: flex;
  width: 350px;
  height: 450px;
  align-items: center;

  overflow: hidden;
  border: 5px solid #ff3d81;
  box-shadow: 0px 2px 3px black;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.container-carrossel img {
  width: 100%;
  height: 100%;
  flex: none;
  background-size: cover;
  scroll-snap-align: start;
}

/*adotar-animal*/
.adotar-animal {
  margin: auto;
  text-align: center;
  padding: 30px 50px;
  background-color: #d2d3f4;
}

.titulo-adotar-animal {
  margin: auto;
  background-image: url("../img/img-titulos/titulo-adotar.png");
}

.title-desc-adotar {
  font-family: "Anton";
  text-align: center;
  font-size: 23pt;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: #65669b;
}

.title-desc-adotar span {
  font-family: "Anton";
  color: black;
}

.container-adotar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.card-adotar {
  text-align: center;
  width: 350px;
  height: 550px;
  background-color: #03989e;
  background-image: url("../img/animais-adotar/card-principal-animal.png");
  background-size: cover;
}

.card-adotar p {
  margin-top: 40px;
  padding: 10px;
  font-size: 18pt;
  color: black;
}

.seta-adotar {
  display: inline-block;
  font-size: 30pt;
  animation: animarSeta linear infinite 2s;
}

.links-adotar {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ff3d81;
  width: 80%;
  padding: 7px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.623);
}

.cards-animais {
  text-align: left;
  width: 60%;
  height: 550px;
  overflow: hidden;
}

.cards-animais img {
  margin-bottom: 6px;
  margin-left: 20px;
  width: 160px;
  height: 270px;
  background-color: #03989e;
  background-size: cover;
}

.desc-final-adotar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-size: 18pt;
}

.bi-arrow-90deg-up {
  display: inline-block;
  animation: animarSeta linear infinite 2s;
}

@keyframes animarSeta {
  0% {
    transform: translateY(10px);
  }
}

/*animais*/
.animais {
  margin: auto;
  text-align: center;
  padding: 0px 50px;
}

.titulo-animais {
  background-image: url("../img/img-titulos/titulo-animais.png");
  margin-bottom: 40px;
}

.container-animais {
  column-count: 6;
  column-gap: 10px;
}

.imgAnimal {
  width: 100%;
  margin: 5px;
  border-radius: 20px;
}

.triangulo-animais {
  margin: auto;
  width: 70px;
  height: 70px;
  background-image: url("../img/triangulo-animais.png");
  background-size: cover;
}

.animais p {
  color: #65669b;
  font-size: 10pt;
  margin-bottom: 20px;
  border-bottom: 1px solid #65669b;
  text-align: right;
}







  




